/* creting variable for colors */
:root{
  --col1:rgb(85, 244, 85);
  --col2: grey;
  --col3: #cecece;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

#dropdown-basic{
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  
}